.root {
    /*-fx-background-color: #474747;*/
}

.label {
    /*-fx-text-fill: white;*/
    -fx-effect: dropshadow(two-pass-box, white, 1, 0, 0, 0);

}

/*.split-pane{*/
    /*-fx-background-color: #474747;*/
/*}*/

/*.chart {*/
    /*-fx-background-color: #474747;*/
/*}*/

/*.chart-legend{*/
    /*-fx-background-color: #474747;*/
    /*-fx-text-fill: #474747;*/
    /*-fx-fill: #474747;*/
/*}*/

.chart-title {
    -fx-font-size: 1.4em;
    /*-fx-text-fill: white;*/
}

.chart-series-line {
    -fx-effect: dropshadow(two-pass-box, white, 1, 0, 0, 0);
}

.transparent {
    -fx-background-color: transparent;
}

.chart-line-symbol {
    -fx-background-insets: 0, 2;
    /*-fx-background-radius: 7px, 5px;*/
    /*-fx-padding          : 7px;*/
    -fx-effect: dropshadow(two-pass-box, white, 1, 0, 0, 0);
}
.chart-line-symbol:hover {
    -fx-effect: dropshadow(two-pass-box, black, 10, 0, 0, 0);
}

.chart-bar {
    -fx-scale-x: 0.5;
}

.chart-area-symbol {
    -fx-background-color: null, null;
}

.button {
    -fx-background-color:
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.chart-pie{
    -fx-legend-visible: false;
    -fx-background-fills: transparent;
    -fx-pie-label-visible: false;
    -fx-label-line-length: 0;
}

.b2 {
    /*-fx-text-fill:white;*/
    -fx-font-family: Tahoma;
    -fx-font-size: 12px;

    -fx-background-color:
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-insets: 0,1;
    -fx-background-radius: 9,8;
}

.axis {
    -fx-font-size: 1em;

    /*-fx-tick-label-fill: white;*/
    -fx-font-family: Tahoma;
    -fx-tick-length: 3;
    -fx-minor-tick-length: 0;
    -fx-effect: dropshadow(two-pass-box, white, 1, 0, 0, 0);
}

.axis-tick-mark {
    -fx-stroke:  linear-gradient(orangered, gold, dodgerblue);
    -fx-stroke-width: 3;
    -fx-effect: dropshadow(gaussian, white, 2, .5, 0, 0);
}

.separator {
    -fx-background-color: dodgerblue;

}


.progress-bar > .bar {
    -fx-background-color: linear-gradient(
        from 0px .75em to .75em 0px,
        repeat,
        -fx-accent 0%,
        -fx-accent 49%,
        derive(-fx-accent, 30%) 50%,
        derive(-fx-accent, 30%) 99%
    );
}

.separator *line{
    -fx-border-width: 0px;
}
.axis-label {
    -fx-cell-size: 50;
}

.list-cell {
    /*-fx-background-color: #474747;*/
    /*-fx-text-fill: white;*/
    -fx-effect: dropshadow(two-pass-box, white, 1, 0, 0, 0);

}

/*.list-cell:filled:hover {*/
    /*-fx-background-color: white;*/
    /*-fx-text-fill: black;*/
/*}*/

.list-cell:filled:selected:focused, .list-cell:filled:selected {

    /*-fx-background-color: linear-gradient(#333 0%, #777 25%, #aaa 75%, #eee 100%);*/
    -fx-effect: dropshadow(two-pass-box, white, 1, 0, 0, 0);

}

.list-view{
    /*-fx-background-color: #474747;*/
    -fx-effect: dropshadow(two-pass-box, white, 1, 0, 0, 0);
}

/*.check-box{*/
    /*-fx-text-fill: white;*/
/*}*/

/*.stack-pane{*/
    /*-fx-background-color: transparent;*/
/*}*/


.line {
    -fx-effect: dropshadow(two-pass-box, white, 1, 0, 0, 0);
}



